.todos {
  margin: 0.5em 1em;
}
.add-input {
  width: 14rem;
}
.add-btn {
  margin-left: 0.5rem;
}
.todos .todo-item {
  font-size: 1.25em;
}
.todos .todo-completed {
  text-decoration: line-through;
  text-decoration-color: grey;
  color: gray;
}
.todo-item input {
  width: 1rem;
  height: 1rem;
}
.todos .todo-remove {
  margin-left: 1em;
}
